@page "/zonetriggermanager"

<button type="button" class="btn btn-primary" @onclick="LogNewSafetyQuestion">Add new question</button>

<table class="table table-striped align-middle table-bordered">
    <thead>
    <tr>
        <th scope="col">Question</th>
          <th scope="col">Add selected department</th>
                <th scope="col">Edit question</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var q in _safetyQuestions)
    {
        <tr>
            <th style="min-width: 150px; max-width: 300px;" scope="row">@q.Question</th>
            <td>
            <button type="button" class="btn btn-primary" @onclick="async () => await AddNewDepartment(q)">Add</button> 
            </td>

            <td>
                <button type="button" class="btn btn-warning" @onclick="async () => await EditSafetyQuestion(q.Id)">Edit</button>
            </td>

        </tr>
        <tr>
            <td colspan="7">
                <div class="d-flex flex-row m-3">


                    @foreach (var l in q.SafetyZoneTriggerQuestionDepartments)
                    {
                        <div class="chip">
                            <button type="button" class="btn btn-danger" @onclick="() => DeleteDepartmentLink(l, q.Id)">

                                <i class="bi bi-trash"></i>
                            </button>
                            @l.Department.DepartmentName
                        </div>
                    }

                </div>
            </td>
        </tr>
    }

    </tbody>
</table>