@namespace PersonEditorModal
@if (Person != null)
                {
                    <EditForm Model="Person" OnValidSubmit="CloseModal">
                        <label class="form-label" for="fn">First name:</label> <br/>
                        <InputText class="form-control" id="fn" @bind-Value="Person.FirstName"></InputText>

                        <label class="form-label" for="ln">Last name:</label> <br/>
                        <InputText class="form-control" id="ln" @bind-Value="Person.LastName"></InputText>

                        <label class="form-label" for="em">Email address:</label> <br/>
                        <InputText class="form-control" id="em" @bind-Value="Person.EmailAddress"></InputText>

                     
                        <InputCheckbox class="form-check" id="rp" @bind-Value="Person.IsRealPerson"></InputCheckbox>
                        <label class="form-check-label" for="rp">Is real person:</label>


                        <button class="btn btn-success m-2" type="submit">Save</button>
                        <button class="btn btn-success m-2" type="button" @onclick="CancelMethod" >Cancel</button>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <ValidationSummary></ValidationSummary>
                    </EditForm>
                }
    

