<input class="form-control" type="date" value="@SelectedDateAsDt.ToString("yyyy-MM-dd")" onfocus="this.showPicker()" @onchange="SelectDate" />
<button class="btn btn-success" @onclick="CloseModal">OK</button>